body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

#home .section {
  color: #F1FFFF;
  background-color: #05756B;
}

#home .section > h2 > p {
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  text-align: center;
  height: 250px;
  background-color: white;
  padding-top: 30px;


}

.navbar-brand {
  float: left;
  padding: 10px;
  font-family: "Rockwell-Bold", sans-serif;;
  font-size: 26.39px;
  color: #F1FFFF;
  text-decoration: none;
}

.navbar-fixed-top {

  position: fixed;
  background: #101D2D;
  width: 100%;
}
.navbar-fixed-top ul li a {
    text-decoration: none;
    padding: 10px;

}
.navbar-right a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #F1FFFF;
  letter-spacing: 1.45px;
}
.navbar-right {

  text-align: right;

}

.navbar-fixed-top ul li  {

  list-style: none;
  display: inline;
}
.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #F1FFFF;
    line-height: 50px;
  }

.caption2 {
    position: absolute;
    left: 0;
    bottom: -44%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #F1FFFF;
    line-height: 50px;
  }
