body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: black;
}

#home  {
  background-color:#05756b;
}

#home .section1 > h2 > p {

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section {
  text-align: center;
  height: 250px;
  color: #113361;
  padding-top: 30px;

}


.service-container {
  display: inline-block;

  width: 300px;
  margin: 10px;
}

.section1 {
  color:white;
  display: inline-block;;

}

.navbar-brand {
  float: left;
  padding: 10px;
  font-family: "Rockwell-Bold", sans-serif;;
  font-size: 26.39px;
  color: #F1FFFF;
  text-decoration: none;
}

.navbar-fixed-top {
  z-index: 100;
  position: fixed;
  background: #101D2D;
  width: 100%;
}
.navbar-fixed-top ul li a {
    text-decoration: none;
    padding: 10px;

}
.navbar-right a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #F1FFFF;
  letter-spacing: 1.45px;
}
.navbar-right {

  text-align: right;

}

.navbar-fixed-top ul li  {

  list-style: none;
  display: inline;
}
.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #F1FFFF;
    line-height: 50px;
  }

.caption2 {
    position: absolute;
    left: 0;
    bottom: -44%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #F1FFFF;
    line-height: 50px;
  }





  }
  @media screen and (max-width:680px) {
    ul.navbar-right li:not(:first-child) {display: none;}
    ul.navbar-right li.icon {
      float: right;
      display: inline-block;
    }
  }

    /* ------------ navbar ------------ */
  .navbar-right  {
      display: none;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: black;
    }

    .navbar-toggle .icon-bar:nth-of-type(2) {
    	  top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
      	top: 2px;
    }

    .navbar-toggle .icon-bar {
      background-color: black;
    	  position: relative;
    	  transition: all 500ms ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(1) {
    	  top: 6px;
    	  transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
    	  background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
    	  top: -6px;
    	  transform: rotate(-45deg);
    }



  /* ------------ section ------------ */

  .section {
    height: auto;;
  }

  .caption2 {
  position: relative;;
  bottom: 620px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Montserrat-Regular;
  font-size: 36px;
  color: #F1FFFF;
  line-height: 50px;

  }

  /* ------------ hamburger ------------ */
  ul.navbar-right li {
   display: none;
 }

  ul.navbar-right li.icon {
     float: right;
     display: inline-block;
   }

 .cross div {
  position:relative;
  width:46px;
  height:46px;
  float:left;
  margin:20px;
  span {
    position:absolute;
    left:0;
    background:#000000;
    width:100%;
    height:10px;
    &.top {
      top:0;
    }
    &.middle {
      top:18px;
    }
    &.bottom {
      top:36px;
    }
  }
}
   /*// CROSS*/
.cross span {
  // Phase 2 - OUT
  -webkit-transition: -webkit-transform 0.35s ease-out 0s, opacity 0.35s ease-out 0.35s, top 0.35s ease-out 0.35s;
  -moz-transition: -webkit-transform 0.35s ease-out 0s, opacity 0.35s ease-out 0.35s, top 0.35s ease-out 0.35s;
  -o-transition: -webkit-transform 0.35s ease-out 0s, opacity 0.35s ease-out 0.35s, top 0.35s ease-out 0.35s;
  transition: -webkit-transform 0.35s ease-out 0s, opacity 0.35s ease-out 0.35s, top 0.35s ease-out 0.35s;
}
.cross:hover {
  span {
    // Phase 1 - IN
    -webkit-transition: top 0.35s ease-out 0s, opacity 0.35s ease-out 0s, -webkit-transform 0.35s ease-out 0.35s;
    -moz-transition: top 0.35s ease-out 0s, opacity 0.35s ease-out 0s, -webkit-transform 0.35s ease-out 0.35s;
    -o-transition: top 0.35s ease-out 0s, opacity 0.35s ease-out 0s, -webkit-transform 0.35s ease-out 0.35s;
    transition: top 0.35s ease-out 0s, opacity 0.35s ease-out 0s, -webkit-transform 0.35s ease-out 0.35s;
    &.top {
      top:18px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &.bottom {
      top:18px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.middle {
      opacity:0;
    }
  }
}
}
